<nav class="main-nav cf desktop align-{{ section.settings.nav_alignment }} tk-proxima-novadelete" role="navigation" data-col-limit="{{ section.settings.nav_col_limit_int }}">
  <ul>
    {% if section.settings.header_layout == 'nav' %}<li class="logo-item logo-item-left">{{ logo_html }}</li>{% endif %}
    {% for link in linklists[section.settings.menu_linklist].links %}
    
      {% assign has_drop_down = false %}
      {% assign link_title = link.title | strip_html %}
      {% if link_title == section.settings.nav_uber_name %}
     	{% assign dropdown_style = 'drop-uber' %}
    	{% assign has_drop_down = true %}
      {% else %}
        {% include 'has-drop-down' with link_title %}
        {% if has_drop_down %}{% assign dropdown_style = 'drop-norm' %}{% endif %}
      {% endif %}
    
      <li class="nav-item{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}{% if link.active %} active{% endif %}{% if has_drop_down %} dropdown {{ dropdown_style }}{% endif %}">
        
        <a class="nav-item-link" href="{{ link.url }}">
          <span class="nav-item-link-title">{{ link.title }}</span>
          {% if has_drop_down %}{% include 'svg-chevron-down' %}{% endif %}
        </a>
        
        {% if has_drop_down and dropdown_style == 'drop-uber' %}
        
		  {% comment %} Full width dropdown {% endcomment %}
          <div class="sub-nav{% if section.settings.nav_show_images %} has-img{% endif %}">
            {% if section.settings.nav_show_images %}<div class="rep-img"></div>{% endif %}

            {% if section.settings.nav_uber_list_1 != blank %}
              {% assign list_title = section.settings.nav_uber_list_1_title %}
              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_1 %}
            {% endif %}
            {% if section.settings.nav_uber_list_2 != blank %}
              {% assign list_title = section.settings.nav_uber_list_2_title %}
              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_2 %}
            {% endif %}
            {% if section.settings.nav_uber_list_3 != blank %}
              {% assign list_title = section.settings.nav_uber_list_3_title %}
              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_3 %}
            {% endif %}
            {% if section.settings.nav_uber_list_4 != blank %}
              {% assign list_title = section.settings.nav_uber_list_4_title %}
              {% include 'main-navigation-sublist' with section.settings.nav_uber_list_4 %}
            {% endif %}
          </div>
        
        {% elsif has_drop_down %}
        
          {% comment %} Normal dropdown {% endcomment %}
        
          {% assign has_images = false %}
          {% for l in linklists[child_list_handle].links %}
          {% if l.type == 'collection_link' and l.object.image %}{% assign has_images = true %}{% endif %}
          {% if l.type == 'product_link' and l.object.featured_image %}{% assign has_images = true %}{% endif %}
          {% endfor %}


          {% if section.settings.nav_show_images and has_images %}
            {% assign images_enabled = true %}
          {% else %}
            {% assign images_enabled = false %}
          {% endif %}

          <div class="sub-nav{% if images_enabled %} has-img{% endif %} count-{{ linklists[child_list_handle].links | size }}">
            {% if images_enabled %}<div class="rep-img"></div>{% endif %}
            
            {% include 'main-navigation-sublist' with child_list_handle %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>