<div class="sub-nav" data-is-subnav-for="{{ child_list_handle }}">
  <div class="header">
    <a class="close-sub-nav" href="#"><span class="btn alt">{% include 'svg-chevron-left' %}</span> {{ 'layout.mobile_navigation.back' | t }}</a>
  </div>

  <ul class="sub-nav-list plain">
    {% for innerlink in linklists[child_list_handle].links %}
    <li class="sub-nav-item{% if innerlink.active %} active{% endif %}">
      <a class="sub-nav-item-link" href="{{ innerlink.url }}">{{ innerlink.title }}</a>
      {% assign innerlink_title = innerlink.title | strip_html %}
      {% include 'has-drop-down' with innerlink_title %}
      {% if has_drop_down %}
      <button class="open-sub-nav" data-sub-nav="{{ child_list_handle }}">{% include 'svg-chevron-right' %}</button>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
