<div data-section-type="collection-template">
  {% paginate collection.products by section.settings.pagination_limit_int %}
  <div class="container">
    {% comment %}
    <div class="inline-row cf">
      <!-- Begin breadcrumbs -->
      <div class="breadcrumbs inline-item left">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        <span class="divider">{{ 'general.breadcrumbs.divider_html' | t }}</span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="url"><span itemprop="title">{{ collection.title }}</span></a></span>

        {% if current_tags %}
        {% for tag in current_tags %}
        <span class="divider">{{ 'general.breadcrumbs.divider_html' | t }}</span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="url"><span itemprop="title">{{ tag }}</span></a></span>
        {% endfor %}
        {% endif %}

        {% if paginate.pages != 0 %}
        <span class="divider">{{ 'general.breadcrumbs.divider_html' | t }}</span> <strong>{{ 'general.pagination.summary' | t: current_page: paginate.current_page, pages: paginate.pages }}</strong>
        {% endif %}
      </div>
      <!-- End breadcrumbs -->

      <div class="inline-item right last">
        {% include 'sharing' with collection %}
      </div>
    </div>
    {% endcomment %}

    {% if section.settings.header_mode == 'fullw-image' and collection.image %}
  </div>
  <div class="fullwidth-image">
    <img src="{{ collection.image | img_url: '2048x' }}" alt="{{ collection.name | escape }}"
         srcset="{{ collection.image | img_url: '600x' }} 600w,
                 {{ collection.image | img_url: '800x' }} 800w,
                 {{ collection.image | img_url: '1024x' }} 1024w,
                 {{ collection.image | img_url: '2048x' }} 2048w"
         sizes="100vw" />
  </div>
  <div class="container">
    {% endif %}

    {% if section.settings.header_mode == blank and collection.image %}
    <div class="fullwidth-image">
      <img src="{{ collection.image | img_url: '2048x' }}" alt="{{ collection.name | escape }}"
           srcset="{{ collection.image | img_url: '600x' }} 600w,
                   {{ collection.image | img_url: '800x' }} 800w,
                   {{ collection.image | img_url: '1024x' }} 1024w,
                   {{ collection.image | img_url: '2048x' }} 2048w"
           sizes="100vw" />
    </div>
    {% endif %}

    <div class="collection-header {{ section.settings.header_mode }} {% if collection.image %}has-image{% endif %} handle-{{ collection.handle }}">
      {% if section.settings.header_mode == 'coloured-split' %}
      <div class="ft">
        <div class="ftr">
          <div class="ftc vb">
            {% endif %}

            <div class="header-text">
              

              {% if collection.description != "" %}
              <div class="rte">{{ collection.description }}</div>
              {% endif %}
            </div>

            {% if section.settings.header_mode == 'coloured-split' %}
          </div>

          <div class="header-image ftc">
            {% if collection.image %}
            <img src="{{ collection.image | img_url: '600x600' }}" alt="{{ collection.name | escape }}"
                 srcset="{{ collection.image | img_url: '600x600' }} 600w,
                         {{ collection.image | img_url: '800x800' }} 800w,
                         {{ collection.image | img_url: '1024x1024' }} 1024w"
                 sizes="(max-width: 959px) 100vw, 50vw"/>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <div id="collection" class="{% if section.settings.sidebar_show %}show-sidebar{% endif %}">
      {% if section.settings.show_collection_tags and section.settings.collection_tags == 'boxes' %}
      {% assign has_tags = false %}
      {% capture tags_html %}
      <ul class="tags plain">
        <li class="tag{% unless current_tags.size > 0 %} active{% endunless %}">{{ 'collections.general.all_items' | t | link_to: collection.url }}</li>
        {% for tag in collection.all_tags %}
        {% unless tag contains 'meta-' %}
        <li class="tag{% if current_tags contains tag %} active{% endif %}">
          {{ tag | link_to_tag: tag }}
        </li>
        {% assign has_tags = true %}
        {% endunless %}
        {% endfor %}
      </ul>
      {% endcapture %}{% if has_tags %}{{ tags_html }}{% endif %} 
      {% endif %}

      <div class="inline-row">
        <div class="inline-item right last">
          

          {% if section.settings.show_collection_tags and section.settings.collection_tags == 'dropdown' %}
          {% if collection.url.size == 0 %}
          {% assign collection_url = '/collections/all' %}
          {% else %}
          {% assign collection_url = collection.url %}
          {% endif %}
          {% assign has_tags = false %}
          {% capture tags_html %}
          <span class="tags filter">
            <label for="filter-by">{{ 'collections.general.filter_by' | t }}:</label>
            <select id="filter-by" class="redirect">
              <option value="{{ collection_url }}">{{ 'collections.general.all_items' | t }}</option>
              {% for tag in collection.all_tags %}
              {% unless tag contains 'meta-' %}
              <option value="{{ collection_url }}/{{ tag | handle }}" {% if current_tags contains tag %}selected="selected"{% endif %}>{{ tag }}</option>
              {% assign has_tags = true %}
              {% endunless %}
              {% endfor %}
            </select>
          </span>
          {% endcapture %}{% if has_tags %}{{ tags_html }}{% endif %} 
          {% endif %}

          {% if section.settings.collection_sort and collection.products_count > 0 %}
          <span class="filter">
            <label for="sort-by">{{ 'collections.sorting.title' | t }}:</label>
            <select id="sort-by" class="sort-by" data-default-value="{{ collection.sort_by | default: collection.default_sort_by  }}">
              {% if section.settings.collection_sort_show_featured %}<option value="manual">{{ 'collections.sorting.featured' | t }}</option>{% endif %}
              <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
              <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
              <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
              <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
              <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
            </select>           
          </span>
          {% endif %}
        </div>
      </div>

      {% if section.settings.sidebar_show %}
      <div class="sidebar-cont cf">
        <div class="sidebar">
          <h2>{{ 'collections.sidebar.title' | t }}</h2>
          <ul class="plain">
            {% for link in linklists[section.settings.sidebar_linklist].links %}
            <li{% if link.active %} class="active"{% endif %}>
              {% if link.url == '#heading' %}
              <h6 class="heading">{{ link.title }}</h6>
              {% else %}
              {{ link.title | link_to: link.url }}
              {% endif %}
            </li>
            {% endfor %}
          </ul>

          {{ pages[section.settings.sidebar_page].content }}
        </div>

        <div class="beside-sidebar">
          {% endif %}

          {% if collection.products_count > 0 %}
          <div class="product-list row grid {% if section.settings.coll_infiniscroll %}use-infinite-scroll{% endif %}" data-normheights=".image" data-normheights-inner="img">
            {% for product in collection.products %}
            {% include 'product-block' %}
            {% endfor %}
          </div>
          {% else %}
          <p>{{ 'collections.general.empty' | t }}</p>
          {% endif %}

          {% if section.settings.sidebar_show %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  {% if paginate.pages > 1 %}
  <div class="border-top">
    <div class="container">
      <div class="inline-row cf">
        <div class="inline-item left"><div class="results-count results-count--lower">{{ 'collections.general.results' | t: count: collection.products_count }}</div></div>
        <div class="inline-item right last">{% include 'pagination' %}</div>
      </div>
    </div>
  </div>
  {% endif %}

  {% endpaginate %}
</div>



{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "select",
        "id": "header_mode",
        "label": "Style",
        "options": [
          {
            "value": "",
            "label": "Banner fit"
          },
          {
            "value": "fullw-image",
            "label": "Banner wide"
          },
          {
            "value": "text-only",
            "label": "No image"
          },
          {
            "value": "coloured-split",
            "label": "Color background"
          }
        ],
        "default": "coloured-split"
      },
      {
        "type": "paragraph",
        "content": "Banner fit: Featured image spans page width. Sits above title and description."
      },
      {
        "type": "paragraph",
        "content": "Banner wide: Featured image spans browser width. Sits above title and description."
      },
      {
        "type": "paragraph",
        "content": "No image: Featured image not shown. Title and description only."
      },
      {
        "type": "paragraph",
        "content": "Color background: Featured image shown beside title and description, sitting on a single color background (set in the 'Colors' section)."
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "checkbox",
        "id": "sidebar_show",
        "label": "Show sidebar",
        "default": false
      },
      {
        "type": "link_list",
        "id": "sidebar_linklist",
        "label": "Menu to use"
      },
      {
        "type": "page",
        "id": "sidebar_page",
        "label": "Page content to show under menu",
        "info": "Create a page containing images and\/or text to show in your sidebar, a great opportunity to cross-sell and add messages."
      },
      {
        "type": "header",
        "content": "Filters"
      },
      {
        "type": "checkbox",
        "id": "show_collection_tags",
        "label": "Show product tag filter",
        "default": false
      },
      {
        "type": "select",
        "id": "collection_tags",
        "label": "Filter style",
        "options": [
          {
            "value": "boxes",
            "label": "Boxes"
          },
          {
            "value": "dropdown",
            "label": "Dropdown"
          }
        ],
        "default": "dropdown"
      },
      {
        "type": "checkbox",
        "id": "collection_sort",
        "label": "Show 'Sort by' dropdown",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "collection_sort_show_featured",
        "label": "Show 'featured' in sort by dropdown",
        "default": true
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "products_per_row",
        "label": "Maximum number of products per row",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "6",
            "label": "6"
          }
        ],
        "default": "4"
      },
      {
        "type": "range",
        "id": "pagination_limit_int",
        "min": 12,
        "max": 48,
        "step": 12,
        "label": "Number of products per page",
        "default": 36
      },
      {
        "type": "checkbox",
        "id": "coll_infiniscroll",
        "label": "Enable infinite-scroll",
        "info": "Allows the visitor to continue loading more products to the same page without navigating to a new page.",
		"default": false
      }
	]
  }
{% endschema %}
