<div class="container" data-section-type="search-template">
  {% if search.performed and search.terms != "" %}
  {% paginate search.results by section.settings.pagination_limit_int %}
  
  {% if search.results == empty %}
  
  <h1 class="page-title">{{ 'general.search.no_results_title' | t }}</h1>
  <span class="subtext">{{ 'general.search.no_results_html' | t: search: search.terms }}</span>

  <form class="section" action="/search">
    <div class="inline-input-button">
      <input type="hidden" name="type" value="{{ settings.search_type }}" />
      <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}"  />
      <button>{{ 'general.search.search_button' | t }}</button>
    </div>
  </form>

  {% else %}
  
  <h1 class="page-title">{{ 'general.search.results_title' | t }}</h1>
    
  <form class="inline-input-button lightly-spaced-row" action="/search">
    <input type="hidden" name="type" value="{{ settings.search_type }}" />
    <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}"  />
    <button>{{ 'general.search.search_button' | t }}</button>
  </form>
  
  <!-- Begin results -->
  <div class="row grid" data-normheights=".image" data-normheights-inner="img">
    {% for item in search.results %}
    {% if item.object_type == 'product' %}
      {% assign product = item %}
      {% include 'product-block' %}
    {% else %}
    
    {% assign mod4 = forloop.index | modulo: 4 %}
    {% assign mod3 = forloop.index | modulo: 3 %}
    {% assign mod2 = forloop.index | modulo: 2 %}
    <div class="product-block page-block flex column max-cols-{{ section.settings.products_per_row }} {% if mod2 == 1 %} nth-2{% endif %}{% if mod3 == 1 %} nth-3{% endif %}{% if mod4 == 1 %} nth-4{% endif %}">
      <div class="text-cont">
        {% if item.object_type == 'article' and item.image %}
        <div class="article-image">{{ item.image | img_url: 'grande' | img_tag | link_to: item.url }}</div>
        {% endif %}
        <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
        <div><a href="{{ item.url }}">{{ item.content | strip_html | truncatewords: 25 | highlight: search.terms }}</a></div>
        <a class="more-link" href="{{ item.url }}">{{ 'general.search.read_more' | t }}</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <!-- End results -->
  
  {% if paginate.pages > 1 %}
  </div>
  <div class="border-top">
    <div class="container">
      <div class="inline-row cf">
        <span class="inline-item left pagination">{{ 'collections.general.results' | t: count: paginate.items }}</span>
        <div class="inline-item right last">{% include 'pagination' %}</div>
      </div>
    </div>
  {% endif %}

  {% endif %}

  {% endpaginate %}
  
  {% else %}
  
  <form class="section align-centre" action="/search">
    <div class="inline-input-button">
      <input type="hidden" name="type" value="{{ settings.search_type }}" />
      <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}"  />
      <button>{{ 'general.search.search_button' | t }}</button>
    </div>
  </form>

  {% endif %}	
</div>


{% schema %}
  {
    "name": "Search results",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "products_per_row",
        "label": "Maximum number of products per row",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "6",
            "label": "6"
          }
        ],
        "default": "4"
      },
      {
        "type": "range",
        "id": "pagination_limit_int",
        "min": 12,
        "max": 48,
        "step": 12,
        "label": "Number of products per page",
        "default": 36
      }
	]
  }
{% endschema %}
